.navbar {
    background-color: rgba(0, 217, 255, 0.7);
    position: fixed; /* Make the navbar fixed */
    top: 0; /* Stick to the top */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it stays above other content */
}

.services {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 200px;
    margin: 20px;
}

.card:hover {
    transform: scale(1.05);
    transition: ease-in-out;
    box-shadow: 0 0 20px rgba(0, 217, 255, 0.7); /* Change the color and intensity as needed */
}

.card-header {
    display: flex;
    justify-content: center;
}