.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 200px;
    margin: 20px;
}

.card:hover {
    transform: scale(1.05);
    transition: ease-in-out;
    box-shadow: 0 0 20px rgba(0, 217, 255, 0.7); /* Change the color and intensity as needed */
}